<div class="container">
<%= simple_form_for @booking, url: bookings_create_path, method: :post do |f| %>
  <%= f.error_notification %>
  <h2>Flight Details</h2>
  <div class="mb-3">
  <%= f.input :flight_id, label: 'Your Flight ID', input_html: { placeholder: @flight.id, disabled: true }, as: :string %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  </div>
  <div class="mb-3">
  <%= f.input :flight_id, value: @flight.departure_airport, label: 'Departing Airport', input_html: { placeholder: @flight.departure_airport.name, disabled: true }, as: :string %>
  </div>
  <div class="mb-3">
  <%= f.input :flight_id, label: 'Arrival Airport', input_html: { placeholder: @flight.arrival_airport.name, disabled: true }, as: :string %>
  </div>
  <div class="mb-3">
  <%= f.input :flight_id, label: 'Flight Date', input_html: { placeholder: @flight.date, disabled: true }, as: :string %>
  </div>
  <h2>Passengers Information</h2>
  <%= f.simple_fields_for :passengers do |p| %>
  <div class="form-control">
  <div class="mb-3">
  <%= p.input :name %>
  </div>
  <div class="mb-3">
  <%= p.input :email %>
  </div>
  </div>
  <br>
  <% end %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
</div>
